.home-science {
    text-align: center;
    &__row {
        @include clearfix();
        padding-bottom: 30px;
        padding-top: 60px;
        margin-bottom: 40px;
        border-bottom: 1px solid #000;
        @include max-screen($screen-m) {
            padding-top: 30px;
        }
    }
    &__col {
        @include min-screen($screen-m) {
            width: 50%;
            float: left;
        }
        box-sizing: border-box;
    }
    &__container {
        margin-bottom: 50px;
    }
    &__image {
        padding-right: 30px;
        img {
            width: 500px;
        }
    }
    &__title {
        @extend .home-section__title;
        @include min-screen($screen-m) {
            padding-top: 80px;
        }
        @include max-screen($screen-s + 1) {
            padding-top: 30px;
        }
        &--small {
            @extend .home-section__title--s;
            font-family: $helveticaNeueLTProTh;
        }
    }
    &__description {
        font-family: $helveticaNeueLTProTh;
    }
}
