<?xml version="1.0"?>
<config>
    <modules>
        <Snowdog_ManageRecurringStock>
            <version>0.1.0</version>
        </Snowdog_ManageRecurringStock>
    </modules>
    <global>
        <helpers>
            <snowmanagerecurringstock>
                <class>Snowdog_ManageRecurringStock_Helper</class>
            </snowmanagerecurringstock>
        </helpers>
        <models>
            <snowmanagerecurringstock>
                <class>Snowdog_ManageRecurringStock_Model</class>
                <resourceModel>managerecurringstock_mysql4</resourceModel>
            </snowmanagerecurringstock>
        </models>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <checkout_submit_all_after_handler>
                        <type>model</type>
                        <class>Snowdog_ManageRecurringStock_Model_Observer</class>
                        <method>manageRecurringStock</method>
                    </checkout_submit_all_after_handler>
                </observers>
            </checkout_submit_all_after>
            <sales_order_item_cancel>
                <observers>
                    <sales_order_item_cancel_handler>
                        <class>Snowdog_ManageRecurringStock_Model_Observer</class>
                        <method>cancelOrderItem</method>
                    </sales_order_item_cancel_handler>
                </observers>
            </sales_order_item_cancel>
            <!-- Comment observer add qty after refund -->
            <!--<sales_order_creditmemo_save_after>-->
                <!--<observers>-->
                    <!--<sales_order_creditmemo_save_after_handler>-->
                        <!--<class>Snowdog_ManageRecurringStock_Model_Observer</class>-->
                        <!--<method>refundOrderInventory</method>-->
                    <!--</sales_order_creditmemo_save_after_handler>-->
                <!--</observers>-->
            <!--</sales_order_creditmemo_save_after>-->
        </events>
    </global>
</config> 