<?xml version="1.0"?>
<config>
    <modules>
        <Snowdog_Multilevel>
            <version>0.1.0</version>
        </Snowdog_Multilevel>
    </modules>
    <global>
        <blocks>
            <multilevel>
                <class>Snowdog_Multilevel_Block</class>
            </multilevel>
            <affiliateplus>
                <rewrite>
                    <account_banner>Snowdog_Multilevel_Block_Affiliateplus_Account_Banner</account_banner>
                    <adminhtml_account_edit_tabs>Snowdog_Multilevel_Block_Adminhtml_Account_Edit_Tabs</adminhtml_account_edit_tabs>
                </rewrite>
            </affiliateplus>
            <sales>
                <rewrite>
                    <recurring_profile_view>Snowdog_Multilevel_Block_Sales_Recurring_Profile_View</recurring_profile_view>
                </rewrite>
            </sales>
        </blocks>
        <helpers>
            <multilevel>
                <class>Snowdog_Multilevel_Helper</class>
            </multilevel>
            <enterprise_invitation>
                <rewrite>
                    <data>Snowdog_Multilevel_Helper_Invitation_Data</data>
                </rewrite>
            </enterprise_invitation>
            <affiliateplus>
                <rewrite>
                    <url>Snowdog_Multilevel_Helper_Url</url>
                </rewrite>
            </affiliateplus>
        </helpers>
        <models>
            <multilevel>
                <class>Snowdog_Multilevel_Model</class>
                <resourceModel>multilevel_mysql4</resourceModel>
            </multilevel>
            <multilevel_mysql4>
                <class>Snowdog_Multilevel_Model_Mysql4</class>
            </multilevel_mysql4>
            <affiliateplus>
                <rewrite>
                    <transaction>Snowdog_Multilevel_Model_Affiliateplus_Transaction</transaction>
                </rewrite>
            </affiliateplus>
            <payment>
                <rewrite>
                    <observer>Snowdog_Multilevel_Model_Rewrite_Payment_Observer</observer>
                    <recurring_profile>Snowdog_Multilevel_Model_Rewrite_Payment_Recurring_Profile</recurring_profile>
                </rewrite>
            </payment>

            <sales>
                <rewrite>
                    <quote_item>Snowdog_Multilevel_Model_Rewrite_Sales_Quote_Item</quote_item>
                    <recurring_profile>Snowdog_Multilevel_Model_Sales_Recurring_Profile</recurring_profile>
                    <order>Snowdog_Multilevel_Model_Sales_Order</order>
                    <order_shipment>Snowdog_Multilevel_Model_Sales_Order_Shipment</order_shipment>
                </rewrite>
            </sales>
        </models>
        <resources>
            <multilevel_setup>
                <setup>
                    <module>Snowdog_Multilevel</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </multilevel_setup>
            <multilevel_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </multilevel_write>
            <multilevel_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </multilevel_read>
        </resources>
        <events>
            <customer_save_after>
                <observers>
                    <venus_multilevel>
                        <class>multilevel/observer</class>
                        <method>customerSaveAfter</method>
                    </venus_multilevel>
                </observers>
            </customer_save_after>

            <sales_order_place_after>
                <observers>
                    <magestore_affiliateplus_observer>
                        <class>multilevel/affiliateplus_observer</class>
                        <method>orderPlaceAfter</method>
                    </magestore_affiliateplus_observer>
                </observers>
            </sales_order_place_after>

            <controller_front_init_before>
                <observers>
                    <magestore_affiliateplus_observer>
                        <type>singleton</type>
                        <class>multilevel/affiliateplus_observer</class>
                        <method>disableCache</method>
                    </magestore_affiliateplus_observer>
                </observers>
            </controller_front_init_before>

            <pdf_item_draw_after>
                <observers>
                    <enterprise_giftwrapping>
                        <class>multilevel/observer</class>
                        <method>addGiftWrappingInfoForItemToPdf</method>
                    </enterprise_giftwrapping>
                </observers>
            </pdf_item_draw_after>
        </events>
    </global>

    <admin>
        <routers>
            <multilevel>
                <use>admin</use>
                <args>
                    <module>Snowdog_Multilevel</module>
                    <frontName>multilevel</frontName>
                </args>
            </multilevel>

            <affiliateplusadmin>
                <args>
                    <modules>
                        <Snowdog_Multilevel before="Magestore_Affiliateplus">Snowdog_Multilevel</Snowdog_Multilevel>
                    </modules>
                </args>
            </affiliateplusadmin>
        </routers>
    </admin>

    <frontend>
        <events>
            <affiliateplus_account_save_after>
                <observers>
                    <magestore_affiliatepluslevel_observer>
                        <type>singleton</type>
                        <class>multilevel/affiliatepluslevel_observer</class>
                        <method>accountSaveAfter</method>
                    </magestore_affiliatepluslevel_observer>
                </observers>
            </affiliateplus_account_save_after>

            <controller_action_predispatch_customer_account_createpost>
                <observers>
                    <snowdog_multilevel>
                        <class>multilevel/observer</class>
                        <method>customerAccountCreatePostPredispatch</method>
                    </snowdog_multilevel>
                </observers>
            </controller_action_predispatch_customer_account_createpost>

            <customer_save_before>
                <observers>
                    <snowdog_multilevel>
                        <class>multilevel/observer</class>
                        <method>customerSaveBeforeFrontend</method>
                    </snowdog_multilevel>
                </observers>
            </customer_save_before>

            <controller_action_predispatch_enterprise_invitation_customer_account_create>
                <observers>
                    <snowdog_multilevel>
                        <class>multilevel/observer</class>
                        <method>registerInvitation</method>
                    </snowdog_multilevel>
                </observers>
            </controller_action_predispatch_enterprise_invitation_customer_account_create>

            <controller_action_predispatch_enterprise_invitation_customer_account_createpost>
                <observers>
                    <snowdog_multilevel>
                        <class>multilevel/observer</class>
                        <method>registerInvitation</method>
                    </snowdog_multilevel>
                </observers>
            </controller_action_predispatch_enterprise_invitation_customer_account_createpost>
        </events>
    </frontend>
    <crontab>
        <jobs>
            <affiliateplusstatistic>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>multilevel/observer::sendReportEmail</model>
                </run>
            </affiliateplusstatistic>
        </jobs>
    </crontab>
</config>