<?xml version="1.0"?>
<config>
    <modules>
        <Snowdog_Referefiframe>
            <version>0.1.0</version>
        </Snowdog_Referefiframe>
    </modules>
    <frontend>
        <routers>
            <referefiframe>
                <use>standard</use>
                <args>
                    <module>Snowdog_Referefiframe</module>
                    <frontName>snowreferefiframe</frontName>
                </args>
            </referefiframe>
        </routers>
        <layout>
            <updates>
                <referefiframe>
                    <file>referefiframe.xml</file>
                </referefiframe>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <snowreferefiframe>
                <class>Snowdog_Referefiframe_Helper</class>
            </snowreferefiframe>
        </helpers>
        <blocks>
            <snowreferefiframe>
                <class>Snowdog_Referefiframe_Block</class>
            </snowreferefiframe>
        </blocks>
    </global>
</config> 