<?xml version="1.0"?>
<config>
    <modules>
        <Snowdog_HideProduct>
            <version>0.1.0</version>
        </Snowdog_HideProduct>
    </modules>
    <global>
        <blocks>
            <hideproduct>
                <class>Snowdog_HideProduct_Block</class>
            </hideproduct>
            <theme>
                <rewrite>
                    <catalog_product_kit_list>Snowdog_HideProduct_Block_Catalog_Product_Kit_List</catalog_product_kit_list>
                </rewrite>
            </theme>
        </blocks>
        <helpers>
            <hideproduct>
                <class>Snowdog_HideProduct_Helper</class>
            </hideproduct>
        </helpers>
        <models>
            <hideproduct>
                <class>Snowdog_HideProduct_Model</class>
                <resourceModel>hideproduct_mysql4</resourceModel>
            </hideproduct>
            <hideproduct_mysql4>
                <class>Snowdog_HideProduct_Model_Mysql4</class>
                <entities>
                    <hideproduct>
                        <table>snow_hideproduct</table>
                    </hideproduct>
                </entities>
            </hideproduct_mysql4>
        </models>
        <resources>
            <hideproduct_setup>
                <setup>
                    <module>Snowdog_HideProduct</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </hideproduct_setup>
            <hideproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </hideproduct_write>
            <hideproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </hideproduct_read>
        </resources>
        <events>
            <catalog_product_save_after>
                <observers>
                    <catalog_product_save_after_handler>
                        <type>model</type>
                        <class>hideproduct/observer</class>
                        <method>saveHideAttribute</method>
                        <args></args>
                    </catalog_product_save_after_handler>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
</config> 