// Fonts
@font-face{
    font-family: 'HelveticaNeueLTProLt';
    src: url('../font/HelveticaNeueLTPro-Lt.ttf') format('truetype');
}

@font-face{
    font-family: 'HelveticaNeueLTProRoman';
    src: url('../font/HelveticaNeueLTPro-Roman.ttf') format('truetype');
}

@font-face{
    font-family: 'HelveticaNeueLTProTh';
    src: url('../font/HelveticaNeueLTPro-Th.ttf') format('truetype');
}

@font-face{
    font-family: 'HelveticaNeueLTProMd';
    src: url('../font/HelveticaNeueLTPro-Md.ttf') format('truetype');
}
