// Breakpoints

$screen-xs: 479px;
$screen-s: 599px;
$screen-m: 768px;
$screen-l: 979px;
$screen-xl: 1200px;

// Colors
$primary-color: #0cabd9;

// Fonts
$open-sans: "Open Sans", sans-serif;
$helveticaNeueLTProLt: "HelveticaNeueLTProLt", sans-serif;
$helveticaNeueLTProRoman: "HelveticaNeueLTProRoman", sans-serif;
$helveticaNeueLTProTh: "HelveticaNeueLTProTh", sans-serif;
$helveticaNeueLTProMd: "HelveticaNeueLTProMd", sans-serif;
