<?xml version="1.0"?>
<config>
    <modules>
        <Snowdog_OrderNotification>
            <version>0.1.0</version>
        </Snowdog_OrderNotification>
    </modules>
    <frontend>
        <routers>
            <ordernotification>
                <use>standard</use>
                <args>
                    <module>Snowdog_OrderNotification</module>
                    <frontName>ordernotification</frontName>
                </args>
            </ordernotification>
        </routers>
    </frontend>
    <global>
        <helpers>
            <ordernotification>
                <class>Snowdog_OrderNotification_Helper</class>
            </ordernotification>
        </helpers>
        <models>
            <ordernotification>
                <class>Snowdog_OrderNotification_Model</class>
                <resourceModel>ordernotification_mysql4</resourceModel>
            </ordernotification>
        </models>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <sales_order_save_after_handler>
                        <type>model</type>
                        <class>ordernotification/observer</class>
                        <method>sendEmail</method>
                    </sales_order_save_after_handler>
                </observers>
            </checkout_submit_all_after>
        </events>
    </global>
</config> 