<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
 * Banana ContentManager Module
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contact@advancedcontentmanager.com so we can send you a copy immediately.
 *
 * @category    Banana
 * @package     Banana_ContentManager
 * @copyright   Copyright (c) 2014 Banana Content Manager (http://www.advancedcontentmanager.com)
 * @author      Banana Team
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @version     1.1.0
 */
 -->
<config>
	<tabs>
        <banana translate="label">
            <label><![CDATA[<span class="advi-menu-admin">Banana Extensions</span>]]></label>
            <sort_order>200</sort_order>
        </banana>
    </tabs>
    <sections>
    	<contentmanager translate="label">
    		<label>About Banana extensions</label>
    		<tab>banana</tab>
    		<sort_order>99</sort_order>
    		<show_in_default>1</show_in_default>
    		<show_in_website>1</show_in_website>
    		<show_in_store>1</show_in_store>
    		<groups>
                <global translate="label">
                    <label>Banana</label>
                    <frontend_type>text</frontend_type>
                    <frontend_model>bananacore/adminhtml_system_config_store</frontend_model>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                </global>
    		</groups>
    	</contentmanager>
    </sections>
</config>
