<?xml version="1.0"?>
<config>
	  <tabs>
		<snowdog translate="label" module="snowopengraph">
            <label>Snowdog Extensions</label>
            <sort_order>320</sort_order>
        </snowdog>
	  </tabs>
	  <sections>
		<snowopengraph  translate="label" module="snowopengraph">                    
		<label>Snow Open Graph</label>
		<tab>snowdog</tab>
		<frontend_type>text</frontend_type>
		<sort_order>0</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>            
					<groups>
				      <general translate="label"> 
					  <label>General</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <image translate="label">
                            <label>Image</label>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">opengraph</upload_dir>
                            <base_url type="media" scope_info="1">opengraph</base_url>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Add open graph image.</comment>
                          </image>
						   <promoimage translate="label">
                            <label>Promo image</label>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">opengraph</upload_dir>
                            <base_url type="media" scope_info="1">opengraph</base_url>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Add open graph promo image.</comment>
                          </promoimage>
					   </fields>
					   </general>
					</groups>
		</snowopengraph>
	  </sections>
</config>
