<?xml version="1.0"?>

<config>
	<sections>
		<admin>
			<show_in_website>1</show_in_website>
			<groups>
				<physician_account translate="label" module="registration">
					<label>Physician Account Default Role IDs</label>
					<sort_order>9000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<default_id translate="label" module="registration">
							<label>Default Site Role ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</default_id>
					</fields>
				</physician_account>
			</groups>
		</admin>
	</sections>
</config>
